.wp-block-navigation-menu .block-editor-block-list__layout,
.wp-block-navigation-menu {
	display: flex;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	align-items: top;
	white-space: nowrap;
}

.wp-block-navigation-menu__inserter-content {
	padding: $grid-size-large;
}

.wp-block-navigation-menu-item {
	.wp-block-navigation-menu-item {
		margin-left: $grid-size-large;
	}
}

/**
 * Colors Selector component
 */
$colors-selector-size: 22px;
.block-editor-block-colors-selector {
	width: auto;

	// Toolbar colors-selector button.
	.block-editor-block-colors-selector__toggle {
		display: block;
		margin: 0 auto;
		padding: 3px;
		width: auto;

		// Button container.
		.block-editor-block-colors-selector__icon-container {
			width: 42px;
			height: 30px;
			position: relative;
			margin: 0 auto;
			padding: 3px;
			display: flex;
			align-items: center;
			border-radius: 4px;

			// colors-selector - selection status.
			.colors-selector__state-selection {
				font-size: 11px;
				font-style: normal;
				font-family: inherit;
				font-weight: 600;

				border-radius: $colors-selector-size / 2;
				box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

				width: $colors-selector-size;
				min-width: $colors-selector-size;
				height: $colors-selector-size;
				min-height: $colors-selector-size;
				line-height: ($colors-selector-size - 2);
			}

			// Add the button arrow.
			&::after {
				@include dropdown-arrow();
			}

			// Styling button states.
			&:focus,
			&:hover {
				color: #555d66;
				box-shadow: inset 0 0 0 1px #555d66, inset 0 0 0 2px #fff;
			}
		}
	}

	&:not(.has-background-color) {
		.colors-selector__state-selection {
			background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.08) 75%, transparent 75%, transparent 100%);
			background-size: 12px 12px;
		}
	}
}

// Colors Selector Popover.
.editor-block-colors-selector__popover {
	.color-palette-controller-container {
		padding: 16px;

		.components-base-control__label {
			height: 20px;
			line-height: 20px;

			.component-color-indicator {
				float: right;
				margin-top: 2px;
			}
		}
	}
}
